In [38]:
from binance.client import Client
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import tensorflow as tf

WARNING:tensorflow:From C:\Users\admin\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [37]:
api_key = 'iyJXPaZztWrimkH6V57RGvStFgYQWRaaMdaYBQHHIEv0mMY1huCmrzTbXkaBjLFh'
api_secret = 'hmrus7zI9PW2EXqsDVovoS2cEFRVsxeETGgBf4XJInOLFcmIXKNL23alGRNRbXKI'
client = Client(api_key, api_secret)

In [10]:
symbol = 'ETHUSDT'
interval = '3m'

In [11]:
klines = client.get_klines(symbol=symbol, interval=interval)

In [12]:
data = pd.DataFrame(klines, columns=['timestamp', 'open', 'high', 'low', 'close', 'volume', 'close_time', 'quote_asset_volume', 'number_of_trades', 'taker_buy_base_asset_volume', 'taker_buy_quote_asset_volume', 'ignore'])

In [14]:
data['timestamp'] = pd.to_datetime(data['timestamp'], unit='ms')
data

,timestamp,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2023-12-10 04:27:00,2352.20000000,2352.92000000,2352.19000000,2352.91000000,158.01040000,1702182599999,371702.38934400,512,116.30640000,273598.24056000,0
1,2023-12-10 04:30:00,2352.91000000,2352.98000000,2352.69000000,2352.69000000,179.72040000,1702182779999,422858.22051000,585,78.15800000,183889.74183000,0
2,2023-12-10 04:33:00,2352.70000000,2353.56000000,2352.69000000,2353.14000000,241.26060000,1702182959999,567745.17458400,812,192.89260000,453921.70983500,0
3,2023-12-10 04:36:00,2353.13000000,2354.86000000,2353.13000000,2354.43000000,570.18700000,1702183139999,1342310.33783300,1228,350.90980000,826024.60992600,0
4,2023-12-10 04:39:00,2354.44000000,2354.79000000,2354.17000000,2354.79000000,184.50750000,1702183319999,434434.72925800,648,127.64170000,300539.23186400,0
...,...,...,...,...,...,...,...,...,...,...,...,...
495,2023-12-11 05:12:00,2245.69000000,2245.69000000,2243.65000000,2244.91000000,308.87540000,1702271699999,693378.81820500,941,129.06430000,289706.75642500,0
496,2023-12-11 05:15:00,2244.91000000,2245.50000000,2243.52000000,2244.27000000,401.02990000,1702271879999,900233.61345400,1051,191.96230000,430873.92992100,0
497,2023-12-11 05:18:00,2244.27000000,2244.81000000,2239.86000000,2239.87000000,595.10110000,1702272059999,1334365.08126800,1372,225.65270000,506021.21814100,0
498,2023-12-11 05:21:00,2239.87000000,2240.86000000,2236.72000000,2237.40000000,406.36500000,1702272239999,909926.75856700,1357,172.57850000,386432.78093600,0
499,2023-12-11 05:24:00,2237.39000000,2237.99000000,2235.20000000,2236.50000000,474.47310000,1702272419999,1061259.35668300,1090,262.70030000,587540.92016900,0

In [15]:
def calculate_sma(price_history, window_size):
    if len(price_history) < window_size:
        return None
    else:
        return sum(price_history[-window_size:]) / window_size

In [42]:
window_size = 10  # Adjust the window size as needed
data['sma'] = data['close'].rolling(window=window_size).mean()

In [43]:
print(data)

              timestamp           open           high            low  \
9   2023-12-10 04:54:00  2354.24000000  2354.50000000  2353.96000000
10  2023-12-10 04:57:00  2354.50000000  2354.62000000  2354.49000000
11  2023-12-10 05:00:00  2354.62000000  2355.02000000  2353.87000000
12  2023-12-10 05:03:00  2353.87000000  2353.88000000  2352.19000000
13  2023-12-10 05:06:00  2352.19000000  2352.72000000  2352.00000000
..                  ...            ...            ...            ...
494 2023-12-11 05:09:00  2244.80000000  2245.89000000  2244.12000000
495 2023-12-11 05:12:00  2245.69000000  2245.69000000  2243.65000000
496 2023-12-11 05:15:00  2244.91000000  2245.50000000  2243.52000000
497 2023-12-11 05:18:00  2244.27000000  2244.81000000  2239.86000000
498 2023-12-11 05:21:00  2239.87000000  2240.86000000  2236.72000000

             close        volume     close_time quote_asset_volume  \
9    2354.50000000  107.23240000  1702184219999    252456.44387600
10   2354.62000000   90.52930000  1702184399999    213150.98862600
11   2353.87000000  177.97120000  1702184579999    419047.07665200
12   2352.20000000  292.30050000  1702184759999    687822.21717700
13   2352.00000000  141.82050000  1702184939999    333616.21557900
..             ...           ...            ...                ...
494  2245.69000000  440.33160000  1702271519999    988658.32074500
495  2244.91000000  308.87540000  1702271699999    693378.81820500
496  2244.27000000  401.02990000  1702271879999    900233.61345400
497  2239.87000000  595.10110000  1702272059999   1334365.08126800
498  2237.40000000  406.36500000  1702272239999    909926.75856700

     number_of_trades taker_buy_base_asset_volume  \
9                 552                 59.08680000
10                452                 55.06670000
11                799                 95.01690000
12                793                 86.28070000
13                553                 89.07130000
..                ...                         ...
494              1002                257.62660000
495               941                129.06430000
496              1051                191.96230000
497              1372                225.65270000
498              1357                172.57850000

    taker_buy_quote_asset_volume ignore       sma         target
9                139109.27355800      0       NaN  2354.62000000
10               129654.60214900      0       NaN  2353.87000000
11               223725.77880000      0       NaN  2352.20000000
12               203011.32068500      0       NaN  2352.00000000
13               209530.04829500      0       NaN  2353.45000000
..                           ...    ...       ...            ...
494              578424.86101900      0  2240.025  2244.91000000
495              289706.75642500      0  2241.073  2244.27000000
496              430873.92992100      0  2242.204  2239.87000000
497              506021.21814100      0  2242.778  2237.40000000
498              386432.78093600      0  2242.459  2236.50000000

[490 rows x 14 columns]

In [23]:
data['target'] = data['close'].shift(-1)

data = data.dropna()

C:\Users\admin\AppData\Local\Temp\ipykernel_11388\382399669.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['target'] = data['close'].shift(-1)

In [25]:
X = data[['close', 'sma']].values
y = data['target'].values

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [56]:
X_test

array([[2243.57 , 2238.929],
       [2344.76 , 2343.302],
       [2237.4  , 2236.807],
       [2236.77 , 2243.325],
       [2230.61 , 2290.206],
       [2358.79 , 2357.119],
       [2353.48 , 2354.973],
       [2351.67 , 2352.496],
       [2243.63 , 2238.634],
       [2349.82 , 2352.32 ],
       [2353.72 , 2353.234],
       [2336.33 , 2334.71 ],
       [2326.6  , 2331.776],
       [2348.36 , 2347.39 ],
       [2362.93 , 2364.616],
       [2346.77 , 2351.951],
       [2229.14 , 2269.962],
       [2240.59 , 2260.84 ],
       [2357.83 , 2362.693],
       [2352.11 , 2349.099],
       [2342.77 , 2344.178],
       [2345.3  , 2345.125],
       [2315.   , 2328.632],
       [2346.55 , 2347.523],
       [2341.22 , 2346.202],
       [2342.92 , 2345.242],
       [2344.44 , 2342.436],
       [2349.22 , 2345.636],
       [2357.22 , 2350.627],
       [2352.39 , 2350.365],
       [2322.62 , 2332.505],
       [2337.03 , 2335.487],
       [2363.19 , 2358.403],
       [2371.19 , 2369.987],
       [2350.4  , 2353.551],
       [2343.77 , 2349.172],
       [2354.5  , 2353.917],
       [2354.32 , 2353.076],
       [2351.11 , 2352.605],
       [2345.97 , 2346.921],
       [2334.3  , 2345.62 ],
       [2350.89 , 2350.807],
       [2330.29 , 2338.022],
       [2343.01 , 2341.963],
       [2353.41 , 2353.249],
       [2345.54 , 2346.121],
       [2354.3  , 2354.678],
       [2228.9  , 2233.091],
       [2244.81 , 2239.381],
       [2241.45 , 2237.489],
       [2222.2  , 2300.457],
       [2350.05 , 2351.438],
       [2342.19 , 2343.33 ],
       [2356.   , 2353.856],
       [2345.2  , 2342.955],
       [2344.99 , 2350.208],
       [2249.55 , 2251.289],
       [2334.64 , 2341.271],
       [2367.34 , 2372.361],
       [2343.39 , 2339.512],
       [2245.69 , 2240.025],
       [2205.4  , 2311.369],
       [2354.13 , 2351.763],
       [2358.11 , 2356.712],
       [2362.19 , 2363.364],
       [2356.6  , 2351.634],
       [2339.07 , 2343.617],
       [2346.53 , 2344.222],
       [2350.55 , 2350.879],
       [2245.32 , 2249.448],
       [2334.06 , 2332.287],
       [2327.43 , 2329.982],
       [2361.36 , 2366.028],
       [2241.76 , 2247.793],
       [2239.25 , 2240.827],
       [2342.71 , 2343.789],
       [2351.92 , 2353.745],
       [2371.09 , 2360.618],
       [2344.17 , 2343.125],
       [2338.72 , 2336.859],
       [2359.2  , 2356.401],
       [2355.79 , 2357.182],
       [2351.08 , 2351.393],
       [2240.96 , 2237.459],
       [2334.91 , 2334.056],
       [2360.92 , 2362.359],
       [2344.06 , 2343.772],
       [2342.56 , 2347.283],
       [2238.17 , 2280.454],
       [2355.62 , 2354.038],
       [2351.32 , 2348.241],
       [2351.37 , 2349.54 ],
       [2357.05 , 2355.011],
       [2369.87 , 2361.944],
       [2350.4  , 2349.012],
       [2350.41 , 2347.664],
       [2357.22 , 2353.971],
       [2349.82 , 2350.72 ]], dtype=float32)

In [39]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(units=1, input_shape=(X.shape[1],))
])

WARNING:tensorflow:From C:\Users\admin\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [40]:
model.compile(optimizer='sgd', loss='mean_squared_error')

WARNING:tensorflow:From C:\Users\admin\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [52]:
X_test = X_test.astype(np.float32)
y_test = y_test.astype(np.float32)

In [ ]:
X_train = X_train.astype(np.float32)
y_train = y_train.astype(np.float32)

In [57]:
num_epochs = 10  # Adjust the number of epochs as needed
history = model.fit(X_train, y_train, epochs=num_epochs, validation_split=0.2, verbose=1)
history

Epoch 1/10
10/10 [==============================] - 0s 6ms/step - loss: nan - val_loss: nan
Epoch 2/10
10/10 [==============================] - 0s 3ms/step - loss: nan - val_loss: nan
Epoch 3/10
10/10 [==============================] - 0s 3ms/step - loss: nan - val_loss: nan
Epoch 4/10
10/10 [==============================] - 0s 2ms/step - loss: nan - val_loss: nan
Epoch 5/10
10/10 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan
Epoch 6/10
10/10 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan
Epoch 7/10
10/10 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan
Epoch 8/10
10/10 [==============================] - 0s 3ms/step - loss: nan - val_loss: nan
Epoch 9/10
10/10 [==============================] - 0s 2ms/step - loss: nan - val_loss: nan
Epoch 10/10
10/10 [==============================] - 0s 4ms/step - loss: nan - val_loss: nan

In [53]:
y_pred = model.predict(X_test).flatten()

4/4 [==============================] - 0s 2ms/step

In [54]:
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

ValueError: Input contains NaN.